<!doctype html>
<head>
<title> Programing Penguins</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheets -->
    <link rel="stylesheet" href="style.css" />

    <script src="script.js" defer></script>

     <link
           rel="icon"
           type="image/png"
           href="twitterlogo.png"
         />

</head>
<body>

<div class="container">
    <div class="left-container">
        <img src="twitter left side.PNG" alt="twitter nav bar">
    </div>
    <div class = "middle-container">
             <div class="search">
                   <input type="search" placeholder="Search Twitter">
                 <img src="settings icon.PNG" height="30px">
             </div>

                  </center>
        <br> <br>

        <div class="dogs">
        <img src="https://i.pinimg.com/564x/3d/e0/61/3de0615aca30c13c8691ebc2da690eeb.jpg" alt="Dog with its tongue out" id="dog1">
        <img src="https://i.pinimg.com/564x/60/a3/93/60a393b29c07f29b45d644a9e6f1ffcc.jpg" alt="Small dog with piercing eyes" id="dog2">
        <img src="https://i.pinimg.com/564x/48/b6/45/48b64509e8cb085ba4ca608ebba92653.jpg" alt="Dog with blue eyes" id="dog3">
        <img src="https://i.pinimg.com/564x/1d/bd/88/1dbd88048fc39ed523de9f2efdddc201.jpg" alt="Puppy with butterfly on its nose" id="dog4">
        </div>
    </div>
    <div class="right-container">
        <img src="twitter ads.PNG" alt="Twitter's What's Happening Section" width="305px" id="whatshap">
        <br>
        <img src="twitterfakead.gif" alt="Fake ad" width="305px" style="border-radius:10%;">


    </div>
</div>


</body>
<!--
<div class="topnav">

    <a class="active" href="home.html">Home</a>
    <a href="#about"> About Us </a>   -->
</div>
</html>